*, body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  font-family: 'Noah', sans-serif;
  line-height: 1.5;
}

/* INDEX TABLET AND PHONE  */
@media (max-width: 1200px) {
  section {
    width: 100%;
  }
  .container {
    width: 90%;
  }
  .place_section .text_block {
    width: 80%;
  }
  .place_section .img_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .place_section .img_block img {
    margin-bottom: 20px;
  }
  .how_order_section .background_block img {
    width: 60%;
  }
  .place_section .left_branch {
    width: 30%;
    top: 25%;
  }
  .place_section .right_branch {
    width: 30%;
    top: 25%;
  }
}

@media (max-width: 1125px) {
  h3 {
    font-size: 30px;
  }
  .header_section {
    height: 800px;
  }
  .header_section .container header .logo_box {
    width: 20%;
  }
  .header_section .container header .logo_box img {
    width: 100%;
  }
  .header_section .container header nav {
    width: 70%;
    margin: 0;
  }
  .header_section .container header nav ul li a {
    font-size: 19px;
  }
  .header_section .container header .nav_links {
    margin-left: 10px;
  }
  .header_section .container header .nav_links .number_link {
    font-size: 14px;
  }
  .header_section .container header .nav_links .text_link {
    font-size: 14px;
  }
  .header_section .left_branch {
    top: 60%;
  }
  .header_section .title_part {
    margin-top: 100px;
  }
  .header_section .title_part h1 {
    font-size: 50px;
  }
  .header_section .title_part h2 {
    font-size: 30px;
  }
  .proffessional_section .container .text_block {
    margin-bottom: 50px;
  }
  .proffessional_section .container .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin-bottom: 100px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .proffessional_section .container .wrap .list_content {
    width: 100%;
  }
  .proffessional_section .container .wrap .list_content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .proffessional_section .container .wrap .list_content ul li {
    width: 400px;
  }
  .proffessional_section .container .wrap .list_content ul .li_f {
    margin: 0 0 30px 0;
  }
  .proffessional_section .container .wrap .list_content ul .li_s {
    margin: 0 0 30px 0;
  }
  .proffessional_section .container .wrap .list_content ul .li_t {
    margin: 0 0 30px 0;
  }
  .proffessional_section .container .wrap .img_content {
    width: 60%;
    height: 650px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
  }
  .how_order_section .background_block img {
    width: 30%;
  }
  .feedback_section .text_content {
    width: 40%;
  }
  .feedback_section p {
    width: 90%;
  }
  .what_we_do_section .container .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .what_we_do_section .container .wrap .list_item {
    margin-bottom: 30px;
  }
  .how_order_section .text_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .how_order_section .text_block h3 {
    text-align: center;
  }
  .how_order_section .background_block {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how_order_section .background_block img {
    width: 85%;
    margin-left: 15%;
    margin-top: -10%;
  }
  .how_order_section .background_block .form_block {
    text-align: center;
  }
  .how_order_section .background_block .form_block span {
    margin-top: -85px;
    text-align: center;
  }
  .how_order_section .background_block .form_block .your_email {
    width: 100%;
    padding: 15px;
  }
  .how_order_section .background_block .form_block .sub_input {
    margin: 20px auto;
  }
  .our_projects_section .container .fig_a {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    position: static;
  }
  .our_projects_section .container .fig_a a {
    padding: 7px 50px;
    font-size: 25px;
    color: #fff;
    background: #363a1d;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 0;
  }
  .our_projects_section .container .fig_a a:hover {
    background: #363a1d;
  }
  .our_projects_section .container .img_block img {
    width: 48%;
  }
  .feedback_section .container .slider_feedback {
    width: 100%;
  }
  .feedback_section .container .slider_feedback .slider_item .garden_img {
    width: 45%;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content {
    width: 50%;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content img {
    margin-bottom: 8px;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content h4 {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content span {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content p {
    font-size: 14px;
    width: 100%;
  }
  .faq_section .container .wrap {
    height: auto;
  }
  .faq_section .container .wrap .faq_block .text_block h3 {
    margin-bottom: 20px;
  }
  .faq_section .container .wrap .accordion .accordion_item .accordion-item_trigger span {
    font-size: 15px;
  }
  .faq_section .container .wrap .accordion .accordion_item .accordion-item_content p {
    font-size: 14px;
  }
  .faq_section .container .wrap .how_order_block {
    height: auto;
  }
  .faq_section .container .wrap .how_order_block h4 {
    font-size: 24px;
  }
  .faq_section .container .wrap .how_order_block h4 br {
    display: none;
  }
  .faq_section .container .wrap .how_order_block span {
    font-size: 16px;
  }
  .faq_section .container .wrap .how_order_block img {
    width: 120%;
    margin: 0;
  }
  .faq_section .container .wrap .how_order_block .form_block .access_label {
    font-size: 16px;
  }
  .faq_section .container .wrap .how_order_block .form_block .sub_input {
    font-size: 18px;
    padding: 7px 30px;
  }
  .still_questions_section .container .wrap .green_btn a {
    padding: 7px 30px;
  }
  .still_questions_section .container .wrap .green_btn a::before {
    background-size: 70%;
    left: -143px;
    bottom: -56px;
  }
  footer .container {
    height: auto;
  }
  footer .container .wrap .contacts_block .tel {
    font-size: 15px;
    margin: 0 0 50px 0;
  }
  footer .container .wrap .contacts_block .email {
    font-size: 15px;
  }
  footer .container .wrap .contacts_block span {
    font-size: 15px;
  }
  footer .container .wrap .social_block a {
    font-size: 8px;
  }
}

@media (max-width: 835px) {
  .green_background {
    background: #DDE3E1;
  }
  .feedback_section .container .slider_feedback {
    width: 90%;
    margin: auto;
  }
  .feedback_section .container .slider_feedback .slick-arrow {
    background: transparent;
    width: 0;
    height: 0;
  }
  .feedback_section .container .slider_feedback .slick-dots {
    left: 38%;
  }
  .feedback_section .container .slider_feedback .slider_item {
    padding: 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .feedback_section .container .slider_feedback .slider_item .garden_img {
    width: 100%;
    margin: auto;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content {
    width: 100%;
    margin-bottom: 20px;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content h4 {
    font-size: 40px;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content span {
    font-size: 22px;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content p {
    font-size: 18px;
  }
  .faq_section .container .wrap .faq_block {
    width: 100%;
  }
  .faq_section .container .wrap .faq_block .text_block {
    width: 100%;
  }
  .faq_section .container .wrap .faq_block .text_block h3 {
    text-align: center;
  }
  .faq_section .container .wrap .accordion {
    width: 100%;
  }
  .faq_section .container .wrap .accordion .accordion_item {
    width: 100%;
  }
  .faq_section .container .wrap .how_order_block {
    display: none;
  }
  .still_questions_section .container .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .still_questions_section .container .wrap .text_block {
    width: 100%;
    margin-bottom: 30px;
  }
  .still_questions_section .container .wrap .text_block br {
    display: none;
  }
  .still_questions_section .container .wrap .green_btn a::before {
    height: 90px;
    background: url("../images/icons/mob_strelka.png") no-repeat;
    left: 265px;
    top: -65px;
  }
}

@media (max-width: 768px) {
  .mfp-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .test {
    padding: 60px 20px;
    width: 100%;
    height: 100%;
  }
  .test .wrapper h2 {
    font-size: 38px;
    margin-bottom: 11px;
  }
  .test .wrapper p {
    font-size: 18px;
    margin-bottom: 22px;
  }
  .test .wrapper input {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .test .wrapper .input_block {
    margin-bottom: 24px;
  }
  .test .top_branch {
    position: absolute;
    top: 0;
    left: 0;
  }
  .test .bottom_branch {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  h3 {
    font-size: 24px;
  }
  body.lock {
    overflow: hidden;
  }
  .header_section {
    height: 566px;
  }
  .header_section .left_branch {
    width: 45%;
    z-index: 70;
    opacity: 50%;
  }
  .header_section .container .title_part {
    width: 95%;
  }
  .header_section .container .title_part span {
    font-size: 16px;
  }
  .header_section .container .title_part h1 {
    font-size: 24px;
    display: block;
    width: 90%;
  }
  .header_section .container .title_part h2 {
    display: block;
    width: 90%;
    font-size: 18px;
  }
  .header_section .container header {
    z-index: 50;
  }
  .header_section .container header .logo_box {
    width: 40%;
    z-index: 30;
  }
  .header_section .container header .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 40;
  }
  .header_section .container header .header__burger span {
    position: absolute;
    background: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_section .container header .header__burger::before,
  .header_section .container header .header__burger::after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header_section .container header .header__burger::before {
    top: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_section .container header .header__burger::after {
    bottom: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header_section .container header .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_section .container header .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header_section .container header .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_section .container header .header__menu.active {
    top: 0;
  }
  .header_section .container header .header__menu {
    top: -130%;
    padding-top: 45%;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    background: #545A2F;
    left: 0;
    z-index: 20;
  }
  .header_section .container header .header__menu nav ul {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    text-align: center;
  }
  .header_section .container header .header__menu nav ul li a {
    display: block;
    font-size: 20px;
    border-bottom: 1px solid #99A18E;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .header_section .container header .header__menu nav ul .last_child {
    border-bottom: 0;
  }
  .header_section .container header .header__menu .nav_links {
    width: 80%;
    margin-bottom: 20px;
  }
  .place_section {
    margin-top: -56px;
  }
  .place_section .text_block {
    width: 100%;
  }
  .place_section .text_block p {
    width: 100%;
    font-size: 16px;
  }
  .place_section .text_block p br {
    display: none;
  }
  .place_section .left_branch {
    display: none;
  }
  .place_section .right_branch {
    display: none;
  }
  .place_section .img_block {
    width: 100%;
    margin-top: 70px;
  }
  .place_section .img_block img {
    width: 100%;
  }
  .proffessional_section {
    margin-top: -150px;
  }
  .proffessional_section .container .text_block {
    width: 100%;
  }
  .proffessional_section .container .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proffessional_section .container .wrap .list_content {
    margin-bottom: 30px;
  }
  .proffessional_section .container .wrap .list_content ul li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .proffessional_section .container .wrap .list_content ul li p {
    font-size: 16px;
  }
  .proffessional_section .container .wrap .img_content {
    width: 288px;
    height: 400px;
  }
  .proffessional_section .container .wrap .img_content span {
    font-size: 15px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    top: 300px;
    left: -70px;
  }
  .proffessional_section .container .wrap .img_content .first_img {
    width: 288px;
    margin: auto;
  }
  .proffessional_section .container .wrap .img_content .second_img {
    width: 260px;
    top: 205px;
    left: 29px;
  }
  .still_questions_section .container .wrap .green_btn a::before {
    left: 0;
    width: 27px;
  }
  .how_order_section {
    margin-top: 70px;
  }
  .how_order_section .background_block .form_block {
    width: 90%;
  }
  .how_order_section .background_block .form_block span {
    margin: 0;
    margin-bottom: 10px;
  }
  .how_order_section .background_block .form_block .your_email {
    font-size: 18px;
    color: #63533E;
    padding: 21px;
  }
  .how_order_section .background_block .form_block label {
    font-size: 14px;
  }
  .how_order_section .background_block .form_block .sub_input {
    font-size: 24px;
  }
  .our_projects_section {
    margin-top: 50px;
  }
  .our_projects_section .container .img_block {
    width: 100%;
  }
  .our_projects_section .container .img_block img {
    width: 100%;
  }
  .four_steps_section {
    margin-top: 96px;
  }
  .four_steps_section .container .text_block {
    width: 100%;
    margin-bottom: 22px;
  }
  .four_steps_section .container .text_block h3 br {
    display: none;
  }
  .four_steps_section .container ul li {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .four_steps_section .container ul li p {
    margin: 22px 0;
    font-size: 16px;
    width: 100%;
  }
  .why_we_section .container .text_block h3 {
    font-weight: 900;
  }
  .why_we_section .container ul {
    width: 100%;
  }
  .why_we_section .container ul li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .why_we_section .container ul li img {
    width: 15%;
    margin: 0;
  }
  .why_we_section .container ul li p {
    font-size: 16px;
    width: 60%;
    margin: 0;
  }
  .feedback_section {
    padding: 50px 0;
  }
  .feedback_section .container .text_block {
    margin-bottom: 25px;
  }
  .feedback_section .container .slider_feedback {
    width: 100%;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content h4 {
    font-size: 20px;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content span {
    font-size: 18px;
  }
  .feedback_section .container .slider_feedback .slider_item .text_content p {
    font-size: 16px;
  }
  .faq_section {
    margin-top: 60px;
  }
  .faq_section .container .wrap .accordion .accordion_item .accordion-item_trigger {
    font-size: 18px;
  }
  .faq_section .container .wrap .accordion .accordion_item .accordion-item_trigger span {
    display: block;
    width: 90%;
  }
  .still_questions_section {
    margin: 60px 0;
  }
  .still_questions_section .container .wrap {
    width: 100%;
  }
  .still_questions_section .container .wrap .text_block {
    width: 288px;
  }
  .still_questions_section .container .wrap .text_block h2 {
    font-size: 28px;
  }
  .still_questions_section .container .wrap .text_block p {
    font-size: 18px;
  }
  .still_questions_section .container .wrap .green_btn {
    width: 100%;
  }
  .still_questions_section .container .wrap .green_btn a {
    font-size: 24px;
  }
  .still_questions_section .container .wrap .green_btn a::before {
    top: -93px;
    left: 212px;
  }
  footer {
    height: auto;
  }
  footer .container .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .wrap .contacts_block {
    margin-bottom: 31px;
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  footer .container .wrap .contacts_block .tel {
    font-size: 20px;
    margin-bottom: 11px;
  }
  footer .container .wrap .contacts_block .email {
    font-size: 20px;
    margin-bottom: 11px;
  }
  footer .container .wrap .logo_block {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 40px;
  }
  footer .container .wrap .logo_block img {
    margin: auto;
    width: 50%;
    display: block;
  }
  footer .container .wrap .social_block {
    width: 100%;
    text-align: center;
  }
  footer .container .wrap .social_block img {
    margin-bottom: 55px;
  }
  footer .container .wrap .social_block a {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=media.css.map */