*, body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  font-family: 'Noah', sans-serif;
  line-height: 1.5;
}


/* INDEX TABLET AND PHONE  */
@media (max-width:1200px) {
  section{
    width: 100%;
  }
  .container{
    width: 90%;
  }
  .place_section{
    .text_block{
      width: 80%;
    }
  .img_block{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    img{
      margin-bottom: 20px;
    }
  }
}
.how_order_section{
    .background_block{
      img{
        width: 60%;
      }
  }
}
.place_section{
  .left_branch{
    width: 30%;
    top: 25%;
  }
  .right_branch{
    width: 30%;
    top: 25%;
  }
}
}
@media (max-width:1125px)  {
  h3{
    font-size: 30px;
  }
.header_section{
  height: 800px;
  .container{
  header{
    .logo_box{
      width: 20%;
      img{
        width: 100%;
      }
    }
  nav{
    width: 70%;
    margin: 0;
    ul{
      li{
        a{
          font-size: 19px;
        }
      }
    }
  }
  .nav_links{
    margin-left: 10px;
    .number_link{
      font-size: 14px;
    }
    .text_link{
      font-size: 14px;
    }
  }
}
}
.left_branch{
  top: 60%;
}
.title_part{
  margin-top: 100px;
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 30px;
  }
}
}
.proffessional_section{
  .container{
    .text_block{
      margin-bottom: 50px;
    }
  .wrap{
    flex-direction: column;
    height: auto;
    margin-bottom: 100px;
    align-self: center;
    .list_content{
      width: 100%;
    ul{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      li{
        width: 400px;
      }
      .li_f{
        margin: 0 0 30px 0;
      }
      .li_s{
        margin: 0 0 30px 0;
      }
      .li_t{
        margin: 0 0 30px 0;
      }
    }
  }
    .img_content{
    width: 60%;
    height: 650px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
}
  }
}
}
.how_order_section{
  .background_block{
    img{
      width: 30%;
    }
  }
}
.feedback_section{
  .text_content{
    width: 40%;
  }
  p{
    width: 90%;
  }
}
.what_we_do_section{
  .container{
  .wrap{
    flex-wrap: wrap;
    justify-content: space-around;
    .list_item{
      margin-bottom: 30px;
    }
  }
}
}
.how_order_section{
  .text_block{
    justify-content: center;
    margin-right: 0;
    h3{
      text-align: center;
    }
  }
  .background_block{
    height: auto;
    flex-direction: column;
    img{
      width: 85%;
      margin-left: 15%;
      margin-top: -10%;
    }
    .form_block{
      text-align: center;
      span{
        margin-top: -85px;
        text-align: center;
      }
      .your_email{
        width: 100%;
        padding: 15px;
      }
      .sub_input{
        margin: 20px auto;
      }
    }
  }
}
.our_projects_section{
.container{
  .fig_a{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    position: static;
  a{
    padding: 7px 50px;
    font-size: 25px;
    color: #fff;
    background:#363a1d;
    transition: 0.5s;
    border-radius: 0;
    &:hover{
      background: #363a1d;
    }
  }
  }
   .img_block{
   img{
     width: 48%;
   }
  }
}
}
.feedback_section{
  .container {
  .slider_feedback{
    width: 100%;
  .slider_item{
    .garden_img{
      width: 45%;
    }
    .text_content{
      width: 50%;
      img{
        margin-bottom: 8px;
      }
      h4{
        font-size: 35px;
        margin-bottom: 5px;
      }
      span{
        font-size: 18px;
        margin-bottom: 10px;

      }
      p{
        font-size: 14px;
        width: 100%;
      }
    }
  }
}
}
}
.faq_section{
  .container{
    .wrap{
      height: auto;
      .faq_block{
    .text_block{
      h3{
        margin-bottom: 20px;
      }
    }
  }
  .accordion{
    .accordion_item{
     .accordion-item_trigger{
       span{
    font-size: 15px;
  }
  }
  .accordion-item_content{
    p{
      font-size: 14px;
    }
  }
}
}
.how_order_block{
  height: auto;
  h4{
    font-size: 24px;
    br{
      display: none;
    }
  }
  span{
    font-size: 16px;
  }
  img{
    width: 120%;
    margin: 0;
  }
  .form_block{
  .access_label{
    font-size: 16px;
  }
  .sub_input{
    font-size: 18px;
    padding: 7px 30px;
  }
}
}
}
}
}
.still_questions_section{
  .container{
    .wrap{
    .green_btn{
      a{
      padding: 7px 30px;
    }
      a{
        &::before{
          background-size: 70%;
          left: -143px;
          bottom: -56px;
        }
      }
    }
  }
  }
}
footer{
  .container{
  height: auto;
  .wrap{
  .contacts_block{
    .tel{
      font-size: 15px;
      margin: 0 0 50px 0;
    }
    .email{
      font-size: 15px;
    }
    span{
      font-size: 15px;
    }
  }
  .social_block{
  a{
    font-size: 8px;
  }
  }
}
}
}
}
@media (max-width: 835px){
  .green_background{
    background: #DDE3E1;
  }
  .feedback_section{
    .container {
    .slider_feedback{
      width: 90%;
      margin: auto;
      .slick-arrow{
        background: transparent;
        width: 0;
        height: 0;
      }
      .slick-dots{
        left: 38%;
      }
      .slider_item{
      padding: 2%;
      flex-direction: column-reverse;
      .garden_img{
        width: 100%;
        margin: auto;
      }
      .text_content{
        width: 100%;
        margin-bottom: 20px;
        h4{
          font-size: 40px;
        }
        span{
          font-size: 22px;
        }
        p{
          font-size: 18px;
        }
      }
    }
  }
  }
  }
  .faq_section{
    .container{
      .wrap{
        .faq_block{
          width: 100%;
      .text_block{
        width: 100%;
        h3{
        text-align:center;
      }
      }
    }
    .accordion{
      width: 100%;
      .accordion_item{
        width: 100%;
  }
  }
  .how_order_block{
    display: none;
  }
  }
  }
  }
  .still_questions_section{
    .container{
      .wrap{
        flex-direction: column;
        .text_block{
          width: 100%;
          margin-bottom: 30px;
          br{
            display: none;
          }
        }
        .green_btn{
          a{
            &::before{
              height: 90px;
              background: url("../images/icons/mob_strelka.png") no-repeat;
              left: 265px;
              top: -65px;
          }
        }
      }
    }
  }
}
}
@media (max-width:768px){
  h3{
    font-size: 24px;
  }
  body.lock{
    overflow: hidden;
  }
  .header_section{
    height: 566px;
    .left_branch{
      width: 45%;
      z-index: 70;
      opacity: 50%;
    }
    .container{
      .title_part{
        width: 95%;
        span{
          font-size: 16px;
        }
        h1{
          font-size: 24px;
          display: block;
          width: 90%;
        }
        h2{
          display: block;
          width: 90%;
          font-size: 18px;
        }
      }
  header{
    .logo_box{
      width: 40%;
      z-index: 30;
    }
    z-index: 50;
    .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 40;

      span{
        position: absolute;
        background: #fff;
        left:0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: 0.3s;
      }

    }
    .header__burger::before,
    .header__burger::after{
      content: "";
      background:#fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left:0;
    }
    .header__burger::before{
      top:0;
      transition: 0.3s;
    }
    .header__burger::after{
      bottom: 0;
      transition: 0.3s;
    }
    .header__burger.active span{
      transform: scale(0);
    }
    .header__burger.active::before{
      transform: rotate(45deg);
      top:9px;
    }
    .header__burger.active::after{
      transform: rotate(-45deg);
      bottom: 9px;
    }
    .header__menu.active{
      top:0;
    }
    .header__menu{
      top: -130%;
      padding-top: 45%;
      position: fixed;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background: #545A2F;
      left:0;
      z-index: 20;
      nav{
        ul{
          margin: auto;
          flex-direction: column;
          width: 90%;
          text-align: center;
          li{
            a{
              display: block;
              font-size: 20px;
              border-bottom: 1px solid #99A18E;
              padding-bottom: 15px;
              margin-bottom: 15px;
            }
          }
          .last_child {
            border-bottom: 0;
          }
        }
      }
      .nav_links{
        width: 80%;
        margin-bottom: 20px;
      }
    }
  }
}
}

  .place_section{
    margin-top: -56px;
    .text_block{
      width: 100%;
      p{
        width: 100%;
        font-size: 16px;
        br{
          display: none;
        }
      }
    }
    .left_branch{
      display: none;
    }
    .right_branch{
      display: none;
    }

    .img_block{
      width: 100%;
      margin-top: 70px;
img{
  width: 100%;

    }
  }
  }
  .proffessional_section{
    margin-top: -150px;
    .container{
      .text_block{
        width: 100%;
      }
      .wrap{
        flex-direction: column-reverse;
        align-items: center;
        .list_content{
          margin-bottom: 30px;
          ul{
          li{
            align-items: flex-start;
            p{
            font-size: 16px;
          }
          }
        }
        }
        .img_content{
          width: 288px;
          height: 400px;
          span{
            font-size: 15px;
            transform: rotate(270deg);
            top:300px;
            left: -70px;
          }
    .first_img{
      width: 288px;
      margin: auto;
    }
    .second_img{
      width: 260px;
      top: 205px;
    left: 29px;
    }
  }
  }
  }
  }
  .still_questions_section{
    .container .wrap .green_btn{
      a{
        &::before{
          left:0;
          width: 27px;
        }
      }
    }
  }
  .how_order_section{
    margin-top: 70px;
    .background_block{
      .form_block{
        width: 90%;
        span{
          margin: 0;
          margin-bottom: 10px;
        }
        .your_email{
          font-size: 18px;
          color: #63533E;
          padding: 21px;
        }
        label{
          font-size: 14px;
        }
        .sub_input{
          font-size: 24px;
        }
      }
    }
  }
  .our_projects_section{
    margin-top: 50px;
    .container{
      .img_block{
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }
  .four_steps_section{
    margin-top: 96px;
    .container{
      .text_block{
        width: 100%;
        margin-bottom: 22px;
        h3{
          br{
            display: none;
          }
        }
      }
      ul{
        li{
          width: 100%;
          flex-direction: column;
          margin-bottom: 30px;
          align-items: center;
          text-align: left;
          p{
            margin: 22px 0;
            font-size: 16px;
            width: 100%;
          }
        }
      }
    }
  }
  .why_we_section{
    .container{
    .text_block{
      h3{
        font-weight: 900;
      }
    }
    ul{
      width: 100%;
      li{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
        img{
          width: 15%;
          margin: 0;
        }
        p{
          font-size: 16px;
          width: 60%;
          margin: 0;
        }
      }
    }
  }
  }
  .feedback_section{
    padding: 50px 0;
    .container{
    .text_block{
      margin-bottom: 25px;
    }
    .slider_feedback{
      width: 100%;
      .slider_item{
        .text_content{
          h4{
            font-size: 20px;
          }
          span{
            font-size: 18px;
          }
          p{
            font-size: 16px;
          }
        }
      }
    }
  }
  }
  .faq_section{
    margin-top: 60px;
    .container{
      .wrap{
    .accordion{
      .accordion_item{
        .accordion-item_trigger{
          font-size: 18px;
          span{
            display: block;
            width: 90%;
          }
        }
      }
    }
      }
    }
  }
  .still_questions_section{
    margin: 60px 0;
    .container{
    .wrap{
      width: 100%;
      .text_block{
        width: 288px;
        h2{
          font-size: 28px;
        }
        p{
          font-size: 18px;
        }
      }
      .green_btn{
        width: 100%;
        a{
          font-size: 24px;
          &::before{
            top: -93px;
            left: 212px;
          }
        }
      }
    }
  }
  }
  footer{
    height: auto;
    .container{
      .wrap{
        flex-direction: column;
        .contacts_block{
          margin-bottom: 31px;
          width: 100%;
          text-align: center;
          order:0;
          .tel{
            font-size: 20px;
            margin-bottom: 11px;
          }
          .email{
            font-size: 20px;
            margin-bottom: 11px;
          }

        }
        .logo_block{
          width: 100%;
          order:-1;
          margin-bottom: 40px;
          img{
            margin: auto;
            width: 50%;
            display: block;
          }
        }
        .social_block{
          width: 100%;
          text-align: center;
          img{
            margin-bottom: 55px;
          }
          a{
            font-size: 16px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}