@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  font-family: 'Cairo', sans-serif;
  line-height: 1.5;
}

section {
  width: 100%;
}

.container {
  width: 1200px;
  margin: auto;
}

h3 {
  font-weight: 100;
  font-size: 35px;
  text-align: center;
}

h3 span {
  font-weight: 700;
}

.green_btn {
  text-align: center;
}

.green_btn a {
  padding: 7px 50px;
  font-size: 20px;
  color: #fff;
  background: #545A2F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.green_btn a:hover {
  background: #363a1d;
}

.form_block span {
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
}

.form_block .your_email {
  width: 400px;
  height: 30px;
  background: white;
  color: #63533E;
  font-size: 20px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.form_block .access {
  width: 12px;
  height: 12px;
  border-radius: 0;
  margin-bottom: 25px;
  font-size: 20px;
}

.form_block .sub_input {
  padding: 7px 50px;
  font-size: 20px;
  color: #fff;
  background: #545A2F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.form_block .sub_input:hover {
  background: #363a1d;
}

.header_section {
  height: 100vh;
  background: url("../images/background/dark_bg_1.png") no-repeat center;
  position: relative;
  background-size: cover;
  padding-top: 30px;
}

.header_section .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_section .container header nav {
  margin-left: 200px;
  width: 40%;
}

.header_section .container header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_section .container header nav ul li a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Georama", sans-serif;
  font-size: 20px;
  color: white;
}

.header_section .container header nav ul li a:hover {
  color: #cfcece;
}

.header_section .container header .logo_box {
  width: 15%;
}

.header_section .container header .logo_box img {
  width: 100%;
}

.header_section .container header .nav_links {
  width: 20%;
}

.header_section .container header .nav_links a {
  display: block;
  text-align: center;
}

.header_section .container header .nav_links .number_link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  font-size: 19px;
}

.header_section .container header .nav_links .number_link:hover {
  background: #cfcece;
}

.header_section .container header .nav_links .text_link {
  color: #fff;
  margin-top: 8px;
}

.header_section .title_part {
  width: 68%;
  margin-left: 10%;
  margin-top: 13%;
}

.header_section .title_part span {
  color: white;
  font-size: 22px;
  font-family: "Cairo";
}

.header_section .title_part h1 {
  font-size: 50px;
  color: white;
}

.header_section .title_part h2 {
  font-size: 40px;
  font-weight: lighter;
  color: white;
  font-family: "Cairo";
}

.header_section .left_branch {
  position: absolute;
  right: 0;
  top: 35%;
}

.place_section {
  position: relative;
}

.place_section .text_block {
  width: 750px;
  margin: 120px auto;
}

.place_section .text_block p {
  width: 600px;
  text-align: center;
  margin: 40px auto;
  font-size: 16px;
}

.place_section .left_branch {
  position: absolute;
  top: 10%;
}

.place_section .right_branch {
  position: absolute;
  top: 15%;
  right: 0;
}

.place_section .img_block {
  margin: 200px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.place_section .img_block img {
  width: 375px;
}

.proffessional_section {
  background: url("../images/background/circle.png") no-repeat center;
  background-size: 47%;
}

.proffessional_section .container .text_block {
  width: 65%;
  margin: auto;
  margin-bottom: 100px;
}

.proffessional_section .container .wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.proffessional_section .container .wrap .img_content {
  width: 50%;
  position: relative;
}

.proffessional_section .container .wrap .img_content span {
  position: absolute;
  z-index: 5;
  top: -30px;
  left: 150px;
}

.proffessional_section .container .wrap .img_content .first_img {
  width: 500px;
  position: absolute;
  z-index: 1;
}

.proffessional_section .container .wrap .img_content .second_img {
  width: 350px;
  position: absolute;
  top: 325px;
  left: 200px;
  z-index: 3;
}

.proffessional_section .container .wrap .list_content {
  width: 50%;
}

.proffessional_section .container .wrap .list_content ul {
  margin-top: 40px;
}

.proffessional_section .container .wrap .list_content ul li {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proffessional_section .container .wrap .list_content ul li img {
  width: 40px;
  margin-right: 15px;
}

.proffessional_section .container .wrap .list_content ul .li_s {
  margin-top: 150px;
  margin-left: 60px;
}

.proffessional_section .container .wrap .list_content ul .li_t {
  margin-top: 100px;
  margin-left: 120px;
}

.what_we_do_section {
  margin-top: 175px;
}

.what_we_do_section .text_block {
  margin-bottom: 70px;
}

.what_we_do_section .container .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what_we_do_section .container .wrap .list_item {
  width: 350px;
}

.what_we_do_section .container .wrap .list_item .img_content img {
  margin-bottom: 20px;
}

.what_we_do_section .container .wrap .list_item h4 {
  font-weight: 100;
  font-size: 27px;
  margin-bottom: 30px;
}

.what_we_do_section .container .wrap .list_item ul li {
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 25px;
  position: relative;
}

.what_we_do_section .container .wrap .list_item ul li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background: url("../images/icons/list_item.png");
  background-size: cover;
  top: 7px;
  left: -10px;
}

.what_we_do_section .container .green_btn {
  margin-top: 70px;
}

.how_order_section {
  margin-top: 200px;
}

.how_order_section .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10%;
  margin-bottom: 25px;
}

.how_order_section .text_block h3 {
  text-align: left;
}

.how_order_section .background_block {
  width: 100%;
  height: 200px;
  background: #99A18E4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how_order_section .background_block img {
  width: 825px;
}

.our_projects_section {
  margin-top: 250px;
}

.our_projects_section .container .text_block {
  margin-bottom: 60px;
}

.our_projects_section .container .img_block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our_projects_section .container .img_block img {
  width: 49%;
  margin: 5px;
}

.our_projects_section .container .fig_a {
  position: absolute;
  top: 48%;
  left: 43.5%;
}

.our_projects_section .container .fig_a a {
  padding: 60px 30px;
  background: #fff;
  border-radius: 50%;
  color: #1A1A18;
}

.our_projects_section .container .fig_a a:hover {
  background: lightgray;
}

.four_steps_section {
  margin-top: 150px;
  background: url("../images/background/Group 245.png") no-repeat;
  background-size: 50%;
}

.four_steps_section .container .text_block {
  margin-bottom: 100px;
}

.four_steps_section .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.four_steps_section .container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  margin-bottom: 110px;
}

.four_steps_section .container ul li p {
  margin-left: 30px;
  font-size: 16px;
}

.four_steps_section .container ul li p span {
  font-weight: 700;
}

.why_we_section {
  background: #DDE3E1;
  padding: 65px 0;
}

.why_we_section .text_block {
  margin-bottom: 90px;
}

.why_we_section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.why_we_section ul li {
  width: 350px;
  margin-bottom: 90px;
}

.why_we_section ul li img {
  margin-bottom: 20px;
  margin-left: 80px;
}

.why_we_section ul li p {
  width: 200px;
  margin: auto;
}

.feedback_section {
  padding: 125px 0;
}

.feedback_section .container .text_block {
  margin-bottom: 110px;
}

.feedback_section .container .slider_feedback {
  position: relative;
}

.feedback_section .container .slider_feedback .slick-list {
  overflow: hidden;
}

.feedback_section .container .slider_feedback .slick-arrow {
  background: transparent;
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 40px;
  bottom: -60%;
}

.feedback_section .container .slider_feedback .slick-prev {
  right: 5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url("../images/icons/back copy 2.png") no-repeat center;
  block-size: cover;
}

.feedback_section .container .slider_feedback .slick-next {
  right: 0;
  background: url("../images/icons/back copy 2.png") no-repeat center;
  background-size: cover;
}

.feedback_section .container .slider_feedback .slick-dots {
  position: absolute;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback_section .container .slider_feedback .slick-dots li {
  margin: 10px;
}

.feedback_section .container .slider_feedback .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: #1A1A18 1px solid;
  border-radius: 50%;
}

.feedback_section .container .slider_feedback .slick-active button {
  background: #1A1A18;
}

.feedback_section .container .slider_feedback .slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback_section .container .slider_feedback .slider_item .garden_img {
  width: 400px;
}

.feedback_section .container .slider_feedback .slider_item img {
  margin-bottom: 28px;
}

.feedback_section .container .slider_feedback .slider_item h4 {
  color: #545A2F;
  font-size: 38px;
  font-weight: 100;
  margin-bottom: 8px;
}

.feedback_section .container .slider_feedback .slider_item span {
  font-size: 20px;
  color: #545A2F;
  margin-bottom: 33px;
  display: block;
}

.feedback_section .container .slider_feedback .slider_item p {
  width: 570px;
  font-size: 16px;
}

.faq_section {
  margin-top: 100px;
}

.faq_section .container .wrap {
  height: 545px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq_section .container .wrap .faq_block {
  width: 58%;
}

.faq_section .container .wrap .faq_block .text_block h3 {
  text-align: left;
  margin-bottom: 50px;
}

.faq_section .container .wrap .accordion .accordion_item {
  position: relative;
}

.faq_section .container .wrap .accordion .accordion_item .accordion-item_input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.faq_section .container .wrap .accordion .accordion_item .accordion-item_input:checked ~ .accordion-item_content {
  display: block;
}

.faq_section .container .wrap .accordion .accordion_item .accordion-item_input:checked ~ .accordion-item_trigger > span::after {
  content: "";
  background: url("../images/icons/minus.png") no-repeat center, #545A2F;
  width: 22px;
  height: 28px;
}

.faq_section .container .wrap .accordion .accordion_item .accordion-item_trigger {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #979797;
  position: relative;
}

.faq_section .container .wrap .accordion .accordion_item .accordion-item_trigger span {
  font-weight: 700;
  cursor: pointer;
}

.faq_section .container .wrap .accordion .accordion_item .accordion-item_trigger span:after {
  top: 20%;
  right: 0;
  position: absolute;
  content: url("../images/icons/plus.png");
  padding: 5px 5px 0px 5px;
  border: 1px solid #545A2F;
  border-radius: 50%;
}

.faq_section .container .wrap .accordion .accordion_item .accordion-item_content {
  padding: 20px;
  border-bottom: 1px solid #979797;
  border-top: none;
  display: none;
}

.faq_section .container .wrap .how_order_block {
  width: 38%;
  height: 100%;
  padding: 33px 40px;
  background: #DDE3E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.faq_section .container .wrap .how_order_block h4 {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 10px;
}

.faq_section .container .wrap .how_order_block span {
  display: block;
  text-align: center;
}

.faq_section .container .wrap .how_order_block img {
  width: 100%;
  margin: auto;
  margin-left: 30px;
  margin-top: -30px;
}

.faq_section .container .wrap .how_order_block .form_block {
  margin-top: -20px;
  width: 100%;
  text-align: center;
}

.faq_section .container .wrap .how_order_block .form_block .your_email {
  width: 100%;
  height: 10%;
}

.faq_section .container .wrap .how_order_block .form_block .access {
  margin-bottom: 20px;
}

.still_questions_section {
  margin-top: 150px;
  margin-bottom: 100px;
}

.still_questions_section .container .wrap {
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.still_questions_section .container .wrap .text_block {
  width: 50%;
}

.still_questions_section .container .wrap .text_block h2 {
  font-size: 45px;
}

.still_questions_section .container .wrap .text_block p {
  font-size: 20px;
}

.still_questions_section .container .wrap .green_btn {
  width: 50%;
}

.still_questions_section .container .wrap .green_btn a {
  position: relative;
}

.still_questions_section .container .wrap .green_btn a::before {
  position: absolute;
  content: "";
  background: url("../images/icons/pointer.png") no-repeat;
  width: 236px;
  height: 45px;
  left: -250px;
  bottom: -45px;
}

footer {
  height: 225px;
  background: #545A2F;
  padding-top: 22px;
}

footer .container .wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .wrap .contacts_block {
  width: 15%;
}

footer .container .wrap .contacts_block a {
  font-size: 20px;
  color: #fff;
  display: block;
}

footer .container .wrap .contacts_block .tel {
  margin-top: 33px;
  margin-bottom: 22px;
}

footer .container .wrap .contacts_block .email {
  margin-bottom: 48px;
}

footer .container .wrap .contacts_block span {
  font-size: 16px;
  color: #fff;
}

footer .container .wrap .social_block {
  text-align: right;
}

footer .container .wrap .social_block img {
  margin-bottom: 100px;
}

footer .container .wrap .social_block a {
  display: block;
  font-size: 16px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */